rel-size(s, units = rem)
    if s
        // NOTE: Это понадобилось из-за того, что некоторые устройства
        // интерпретируют дробные значения, получающиеся из rem или em,
        // неверно. Например,
        // если на макете 1400px базовый кегль 20px, то rel-size(1px) даст 0.05rem.
        // Далее, при уменьшении экрана до, скажем, 700px, базовый кегль уменьшится до 17px,
        // и 0.05rem дадут 0.85px. И вот вместо того, чтобы округлить значение до 1px,
        // некоторые устройства и\или браузеры выдают 0px, тем самым полоска
        // становится не видна.
        // Это баг, но, увы, довольно большая доля устройств ему подвержена.
        if s == 1 || s == 1px
            1px

        else
            unit((s / fz-default), units)