@require "variables"
@require "utils/normalize"
@require "utils/reset"
@require "mixins/*"
@require "sprites/*"
@require "layout"
@require "global"
@require "typography"
@require "components/*"
@require "blocks/*"
@require "print"

#mocha
    margin 0 !important // @stylint ignore
    padding 1em
    border-top 0.1em solid black
    reset-body()
    reset-font()
    flex none
    a
        link-decoration(none)