/*
   Sizes
   ========================================================================== */

site-paddings = 4%
container-width = 100% - 2 * site-paddings
text-container-width = 80%


/*
   Font settings
   ========================================================================== */

// Размер шрифта, каким он представлен
// на макете для десктопа.
// В т. ч. по нему будет идти сопоставление в в функциях fz(), rel-size() и др.
fz-default = 20px

// Ширина макета для десктопа.
// Необходима для построения зависимости
// размера шрифта от ширины экрана
// (крайняя - "максимальная" - точка).
cp-default-font = 1400px

// Ширина и размер шрифта
// в "минимальной" точке
// (после данной ширины шрифт не будет уменьшаться).
cp-min-font = 384px
fz-min = 16px

// Ширина и размер шрифта
// в "средней" точке
// (точка перегиба графика зависимости размера шрифта от ширины экрана).
// Обычно, на небольших экранах размер шрифта не сильно меняется, а вот дальше
// при увеличении экрана зависимость сответствует более крутой линии.
cp-mid-font = 700px
fz-mid = 17px

// Остальные параметры
ff-default = "Arial", sans-serif
fw-default = normal
lh-default = 1.4
lh-headings = 1.2
lh-paragraph = lh-default



/*
   Colors
   ========================================================================== */

white = #FFFFFF
black = #000000
form-error-color = black
spinner-default-color = black
form-focus-color = #9DBFF6
gray-bg = #efefef




/*
   Times
   ========================================================================== */

trs-time-default = 0.2s




/*
   Adaptive breakpoints
   ========================================================================== */

rupture.anti-overlap = true

// Префикс bp- для переменных под адаптив необходим,
// чтобы не было пересечений со "встроенными" переменными
// плагина rupture:
// rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
// Которые ведут себя иногда не так, как обычные переменные.
// Подробнее: https://www.npmjs.com/package/rupture

bp-xs = 420px // маленькие телефоны
bp-xm = 660px // средние телефоны
bp-tab-xs = 760px // маленькие планшеты
bp-tab = 980px // планшет
bp-tab-l = 1024px // планшет горизонтальный ультрабуки
bp-m = 1280px // маленький десктоп
bp-l = 1440px // десктоп

bp-mobile-menu = bp-tab-xs