$common-sprite
    background-image url('/assets/build/prod/sprites/common-sprite.png?mt=1518441958149')

s-arr-next--common = 0px 75px 0px -75px 32px 32px 168px 107px
s-arr-prev--common = 37px 75px -37px -75px 32px 32px 168px 107px
s-html5-logo--common = 0px 0px 0px 0px 168px 70px 168px 107px


